html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
.header {
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd; 
}
.header .nav {
  align-items: center;
}
.header .nav a,
.header .nav a:hover,
.header .nav a:visited {
  color: #999;
  text-decoration: none;
}
.header .nav a.active {
  color: #222;
}
.header .logo {
  text-align: right;
  font-weight: normal;
  letter-spacing: 0.025em;
  line-height: 1.2em;
}
.header .logo a,
.header .logo a:hover,
.header .logo a:visited {
  color: #222;
  text-decoration: none;
}

.banner {
  margin: 50px 0;
}
.gallery .figure {
  position: relative;
}
.gallery .figure .player {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 36px;
  background: #000;
  opacity: 0.6;
  border-radius: .25em !important;
}
.gallery .figure:hover .player {
  display: block;
  cursor: pointer;
}
.gallery .figure .player-icn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  color: #fff;
}
.gallery .figure-img {
  margin-bottom: 0;
}
.gallery .figure-caption {
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}
.aboutme {
  padding: 50px 0 0;
}

.footer {
  padding-top: 50px;
  margin: 50px 0 100px;
  border-top: 1px solid #ddd;
}
.footer a,
.footer a:hover,
.footer a:visited {
  color: #222;
}

.fullscreen {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  overflow: hidden;
}
.fullscreen .box {
  margin: 0 auto;
  max-width: 500px;
  height: 100%;
}
.fullscreen .cls {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.fullscreen .iframe {
  margin-top: 20px;
}